/* theme for spaceout on github pages for moh-myk */
/* Date: 30. March 2017 */

.mainheader{
	background: url("../img/picture7.jpg");
	background-size: cover;
/*	margin:0 auto;
	padding: 0 auto; */
	color:white;
	height:200px;
}
.mainheader > img {
	width:100%;
}
.mainheader-tutorials{
	background: url("../img/picture6.jpg");
	background-size: cover;
	/*margin:0 auto;
	padding: 0 auto;*/
	color:green;
}