/* theme for spaceout on github pages for moh-myk */
/* Date: 30. March 2017 */

body, html	{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0 auto;
}

img{
	max-width:300px;
	max-height:auto;
}
