/* theme for spaceout on github pages for moh-myk */
/* Date: 30. March 2017 */

.space {
	color:white;
}
.nav-space-top {
	font-size:22px;
}
.nav-space-bottom {
	font-size:12px;
}
.nav {
	
}
ul > li {
	list-style-type: none;
}